.modelTooltip {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    position: absolute;
    font-family: Verdana;
    z-index: 2;
    text-align: left;
    padding: 20px;
}

.request-popup .leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.8);
}

.request-popup .leaflet-popup-tip {
    background: rgba(0, 0, 0, 0.8);
}

.map-tooltip {
    color: white;
    font-family: Verdana;
    text-align: right;
}

.gradient {
    width: 100%;
    position: relative;
    display: inline-block;
    top: 4px;
    height: 100%;
    width: 2vh;
    margin: 1px;
}

.grad-step {
    width: 100%;
}

.colorscale-holder {
    position: absolute;
    display: block;
    z-index: 10;
    height: 50%;
    font-family: Verdana;
    font-size: 2vh;
    color: black;
    top: 10%;
    margin: 20px;
}

.colorscale-text-top {
    display: block;
    position: absolute;
    z-index: 11;
    margin-left: 3vh;
    top: 0px;
}

.colorscale-text-middle {
    display: block;
    position: absolute;
    z-index: 11;
    bottom: 50%;
    margin-left: 3vh;
    margin-bottom: 10px;
}

.colorscale-text-bottom {
    display: block;
    position: absolute;
    z-index: 11;
    bottom: 0px;
    margin-left: 3vh;
    margin-bottom: 10px;
}