.modelTooltip {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    position: absolute;
    font-family: Verdana;
    z-index: 2;
    text-align: left;
    padding: 20px;
}

.request-popup .leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.8);
}

.request-popup .leaflet-popup-tip {
    background: rgba(0, 0, 0, 0.8);
}

.map-tooltip {
    color: white;
    font-family: Verdana;
    text-align: right;
}

/* threejs rendering stats on mobile */
/* @media (max-width:1000px) {
    .stats > canvas {
        width: 200px !important;
        height: 120px !important;
    }
} */